@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
   
    background-color: rgb(119, 194, 8)
}

.brand img{
    width: 40px;   
}
fa-play{
     color: aqua; 
}

nav{
    font-family: 'Ubuntu', sans-serif;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: aliceblue;
    height: 55px;
     }
nav ul li{
    padding: 0 10px;
}

.container{
    min-height: 80vh;
    color :white;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(48, 48, 168);
    display:flex;
    margin:23px auto;
    width:80%;
    background-image: url(music-player.jpg);
}
.container h1{
    margin: 0 10px;
}

#myProgressBar{
    width: 60vw;
    cursor:pointer;
    position: absolute;
    top: 5px;
    
}

.icons{
    margin: 20px 0;
    position: absolute;
    top: 13px;
}
.icons i{
    cursor:pointer;
}

.bottom{
    position: sticky;
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
}

.songItem{
 height: 50px;
display: flex;
background-color: white;
width: 100%;
color: black;
margin: 22px 5px;
justify-content: space-between;
align-items: center;
}
.songItem img{
    width:50px;
    margin:0 23px;
}

.songItemContainer{
    margin:40px 0;
}

.songItemPlay{
    cursor: pointer;
}